@model University.BuisnessLogic.DTO.StudentDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Course</title>
    <script language="javascript" type="text/javascript" src="../../js/validation.js"></script>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>

 <h1>Edit Student</h1>

<hr />

    <form asp-action="EditStudent" asp-controller="Student" method="post" name="myForm" onsubmit="return validateFormStudents()">
    <label hidden asp-for="Student_ID" ></label>
    <input asp-for="Student_ID" type="hidden" />

    <label asp-for="First_Name" > Имя </label>
        <input asp-for="First_Name" id="inputValidation" />

    <label asp-for="Last_Name" > Фамилия </label>
     <input asp-for="Last_Name" id="inputValidation2" />

    <label asp-for="Group_ID" >Название Групы</label>
    <select asp-for="Group_ID"  asp-items="ViewBag.Group_Id"> </select>


    <input type="submit" value="Save" class="btn btn-primary" />
</form>


<div class="back">
        <a asp-controller="Course" asp-action="GetAllCourse">Back to List</a>
</div>

</body>
</html>